



{% if flash.getMessage('error') %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> Error! </h4>
   {{flash.getFirstMessage('error')|raw}}
</div>
{% endif %}

{% if flash.getMessage('info') %}
<div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-info"></i> Info! </h4>
     {{flash.getFirstMessage('info')|raw}}
</div>
{% endif %}

{% if flash.getMessage('warning') %}
<div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-warning"></i> Warning! </h4>
    {{flash.getFirstMessage('warning')|raw}}
</div>
{% endif %}

{% if flash.getMessage('success') %}
<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-check"></i> Success! </h4>
     {{flash.getFirstMessage('success')|raw}}
</div>
{% endif %}

