{% extends 'layouts/default.twig' %}

{% block content %}


	 <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       Change Password
                    </div>
                    <div class="panel-body">
                        <form action="{{path_for('auth.change_password')}}" method="post">
                                                       
                            <div class="form-group {{errors.password ? ' has-error':''}}">
                                <label for="password">
                                    Old Password
                                </label>
                                <input class="form-control" id="password" value="{{old.password}}" name="password" placeholder="Old Password" type="password">
                                {% if errors.password %}
                                    <span class="help-block">
                                        {{errors.password|first}}
                                    </span>
                                {% endif %}
                                </input>
                            </div>
                            <div class="form-group {{errors.password_new ? ' has-error':''}}">
                                <label for="password_new">
                                    New Password
                                </label>
                                <input class="form-control" id="password_new" placeholder="New Password" name="password_new"  type="password">
                                {% if errors.password_new %}
                                    <span class="help-block">
                                        {{errors.password_new|first}}
                                    </span>
                                {% endif %}
                                </input>
                            </div>
                            
                            <input class="btn btn-default pull-right" type="submit" value="Change Password">
                            {{csrf.field|raw}}
                        </form>
                    </div>
                </div>
            </div>
    
{% endblock %}