<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/login.min.css">
</head>

<body>
    <div class="center">
        {#<img src="assets/img/logo.jpg" alt="">#}
        <form class="form" method="post" action="{{path_for('auth')}}">
            <p>Please <span>Login</span></p>
            <label for="email" class="sr-only">Email</label>
            <input type="text" name="email" id="email" class="form-control" placeholder="Email" autofocus>
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
            <br>
            {{csrf.field|raw}}
            <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
            <br>
            <div class="d-flex justify-content-between">
                <a href="#">Fogot Password?</a>
                <a href="{{path_for('auth.signup')}}">Register New User</a>
            </div>
            
        </form>
        {% include 'partials/flash.twig'%}
    </div>
    {# Js load #}
    {# <script src="js/vue.min.js"></script> #}
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>